<h2>Vacation Photo Contest</h2>

<div id="vacationPhotoContestFormContainer">
    <form role="form"
        id="vacationPhotoContestForm"
        enctype="multipart/form-data" method="POST" 
        action="/contest/vacation-photo/{{year}}/{{month}}">

        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        <div class="row mb-3">
            <label for="fieldName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="fieldName">
            </div>
        </div>
        
        <div class="row mb-3">
            <label for="fieldEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" required name="email" id="fieldEmail">
            </div>
        </div>
        
        <div class="row mb-3">
            <label for="fieldPhoto" class="col-sm-2 col-form-label">Vacation photo</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" required accept="image/*" name="photo" id="fieldPhoto">
            </div>
        </div>
        
        <div class="row">
            <div class="offset-sm-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

<script>
    const contestForm = document.getElementById('vacationPhotoContestForm')
    contestForm.addEventListener('submit', e => {
        e.preventDefault()

        const body = new FormData(e.target)

        const container = document.getElementById('vacationPhotoContestFormContainer')

        const url = '/api/vacation-photo-contest/{{year}}/{{month}}'

        fetch(url, { method: 'post', body })
            .then(resp => {
                if(resp.status < 200 || resp.status >= 300)
                    throw new Error(`Request failed with status ${resp.status}`)
                return resp.json()
            })
            .then(json => {
                container.innerHTML = '<b>Thank you for submitting your photo!</b>'
            })
            .catch(err => {
                container.innerHTML = `<b>We're sorry, we had a problem processing ` +
                    `your submission.  Please <a href="/newsletter">try again</a>`
            })
    })
</script>